<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />
	
	<title> Mercado Liebre Argentina</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>
<body>
    <%- include('./partials/header') %>
	<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
            <% for (let index = 0; index < products.length; index++) {%>
				<div class="col-12 col-sm-6 col-lg-3">
                <section class="product-box">
					<a href="/products/detail/<%=products[index].id%>">
						<figure class="product-box_image">
							<img src="images/products/default-image.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2><%=products[index].title%></h2>
							<p><%=products[index].descripcion%></p>
							<p>Comentarios: <%=products[index].comentarios%></p>
						</article>
					</a>
				</section>
			</div>
            <%} %>
		</div>
	</div>
    <%- include('./partials/footer') %>
</body>	
</html>