<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) {%>
        <%- include('./partials/headerLog') %>
    <%} else {%>
        <%- include('./partials/header') %>
    <%}%>
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %></h2> 
			<% if (locals.user != undefined) {%> 
				<p class="product-detail-description">
					<a href="product-add.html">Editar</a> <!-- solo mostramos el editar si hay un usuario logueado -->
				</p>
			<%}%>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/imagenes/productos/<%=product.imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%=product.descripcion%></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/imagenes/usuarios/img-user.png" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users/perfil/<%= product.users.id %>"> <%= product.users.usuario %></a> </strong>
								<br>
								<%= product.users.email %></p>
							</div>
						</article>
						<h3 class="data">Comments</h3>
						<article>
							<img src="/imagenes/usuarios/img-tini.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> Tini Stoessel </strong>
									Muy buen producto ! </p>
							</div>
						</article>
						<article>
							<img src="/imagenes/usuarios/img-emilia.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> Emilia Mernes </strong>
									Normal
									</p>
							</div>
						</article>
						<article>
							<img src="/imagenes/usuarios/img-lachina.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> La China Suarez </a> </strong>
									Todavia no lo probe</p>
							</div>
						</article>
						<article>
							<img src="/imagenes/usuarios/img-pampita.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> Pampita </strong>
									Lo recomiendo</p>
							</div>
						</article>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
    <%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>