<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
    <% if (locals.user != undefined) {%>
        <%- include('./partials/headerLog') %>
    <%} else {%>
        <%- include('./partials/header') %>
    <%}%>
    
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Perfil</h2>
                <h2 class="user">
                    <strong>Usuario:</strong> <%= perfil.usuario %>
                    <br>
                    <strong>Mail:</strong> <%= perfil.email %></h2>
			</div>
            <div class="container products-wrapper">
                <div class="row">
                    <div class="col-12">
                        <h2 class="products-title">Productos Publicados</h2>
                    
                    <!-- Show the "ultimos" products -->
                     <% if (products.length > 0	) {
                        for (let index = 0; index < products.length; index++) {%>
                        <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="/products/detail/<%=products[index].id%>">
                                <figure class="product-box_image">
                                    <img src="/imagenes/productos/<%=products[index].imagen%>" alt="">
                                </figure>
                                <article class="product-box_data">
                                    <h2><%=products[index].nombre%></h2>
                                    <p><%=products[index].descripcion%></p>
        
                                </article>
                            </a>
                        </section>
                    
                    <%}} else {%>
                        <h2>No hay productos</h2>
                        <%}%>
                    </div> 
                </div>
                </div>
            </div>
			<!-- Show the "ultimos" products -->
	<!-- footer -->
     <%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>